.navi{
    

    font-size: large;
    width: 13.5%;
    background-color: pink;
    float: left;
    border: 1px solid black;
}
.container {
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    flex-direction: row; /* направление флекс-контейнера (вертикальное или горизонтальное) */
    justify-content: space-between; /* выравнивание по главной оси (по вертикали, если flex-direction: column) */
    height: 100vh; /* высота контейнера равная высоте окна браузера */
    background-color: #f0f0f0; /* цвет фона контейнера */
}

li{
    
    list-style-type: none;
}
.basa{
    padding-left: 5%;
    border: 1px solid black ;
  
    /* margin-right: 75%;  */
     width: 100%; 
}
ul button{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    width: 100%;
    background-color: transparent;
    border: 0px;
    border-radius: 0px;
    
}
ul button:hover{
    border: 1px solid black;
    transform: scale(1.1);

}
button:active{
    transform: scale(0.9);
}

li a{
    text-decoration: none;
    font-size: larger;
    color:royalblue ;
}
.input_task{
    width: 180px;
    height: 18px;
    margin: 0 auto;

}
.button_task_apply{
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    padding: 1px;
    margin: 0 auto;
   
    background-image: url(galka.png);
}
.button_task_apply button:active{
    border: 0,5px dotted blue;
    
}
.div_tast_apply{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.task_container {
    display: flex   ;
    margin-bottom: 10px; /* Пример: добавляем нижний отступ между каждой задачей */
    padding: 10px; /* Пример: добавляем внутренние отступы для контейнера задачи */
    background-color: #f0f0f0; /* Пример: устанавливаем фоновый цвет для контейнера задачи */
    border-radius: 5px; /* Пример: добавляем скругленные углы контейнеру задачи */
}
.button_del{
    align-self: center;
    width: 7%;
    height: 5%;
    background-color: transparent;
    border-radius: 5px;
    background: linear-gradient(to right, pink, aqua);;
}

.task_text{
    margin-left:1.5%;
    overflow-wrap: break-word;
    
}